@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: #050505;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

input,
button {
  transition: all 0.25s ease;
}

input:focus {
  outline: none;
  border-color: #666;
}

button:hover {
  transform: translateY(-1px);
}
